@use 'css-reset';

$primary-cyan: hsl(179, 62%, 43%);
$primary-yellow: hsl(71, 73%, 54%);
$neutral-gray: hsl(204, 43%, 93%);
$neutral-blue: hsl(218, 22%, 67%);
$font-size: 1rem;
$ff: 'Karla';
$fw-400: 400;
$fw-700: 700;

body {
    background-color: hsl(37, 57%, 95%);
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    font-family: $ff;
    font-size: $font-size;
    font-weight: $fw-400;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 375px;
}

header {
    color: $neutral-blue;
    padding-inline: 1rem;
    padding-block: 2rem;
}

section {
    background-color: $primary-cyan;
    color: $neutral-gray;
    padding-inline: 1rem;
    padding-block: 1.5rem;
}

main {
    background-color: hsl(179, 56%, 47%);
    color: $neutral-gray;
    padding-inline: 1rem;
    text-align: left;
    padding-block: 1.5rem;
}

h1 {
    font-weight: $fw-700;
    color: $primary-cyan;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

h2 {
    color: $primary-yellow;
    font-size: $font-size;
    padding-bottom: 1rem;
}

h3 {
    padding-block: 1rem;
}

.price {
    font-size: 2rem;
}

span {
    font-size: $font-size;
    padding-left: 0.3rem;
    vertical-align: 25%;
    color: hsl(0, 10%, 78%);
}

.p-price {
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    color: $neutral-gray;
    background-color: $primary-yellow;
    border-radius: 0.2rem;
    padding: 0.8rem 4rem;
    cursor: pointer;
}

a:hover {
    background-color: hsl(71, 56%, 58%);
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

@media (min-width: 50rem) {

    .container {
        grid-template-columns: 1fr 1fr;
        max-width: 39.6875rem;
    }

    header {
        grid-column: 1/3;
        padding-inline: 1.5rem;
    }

    section {
        grid-column: 1/1;
        padding-inline: 1.5rem;
    }

    a {
        padding: 0.8rem 6rem;
    }

    main {
        grid-column: 2/2;
        padding-inline: 1.5rem;
    }
}

